body {
  margin: 0px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
}
.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin-top: 60px;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}
.navbar li {
  float: left;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  /* Estilos para telas menores que 640px (sm) */
  .container {
    padding: 0; /* Remover o preenchimento em telas pequenas */
  }
  .mx-auto {
    margin-left: auto; /* Alinhar ao centro */
    margin-right: auto; /* Alinhar ao centro */
  }
}
.pagination-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-column button {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

  padding: 0.5rem 1rem;
  border: 1px solid hsl(0, 0%, 80%);
}
